.Product {
  border-radius: 25px;
  position: relative;
  padding: 25px 15px;
  background-color: #81ecec;
  margin: 50px 0;
  height: 300px;
  width: 300px;
  box-shadow: 0 2px 5px #ccc;
  text-align: left;
  border: solid 5px #00cec9;
}
.Product button {
  height: 35px;
  width: 80px;
  border-radius: 14px;
  border: #00cec9 solid 2px;
}
